* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}







body {
  font: 17px/22px Arimo;
  background: #f7f7f7;
}

input {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font: inherit;
  background: #fff;
  padding: 0 5px;
  -webkit-transition: all 0.2s;
}

.bar {
  height: 20px;
  background: #5af;
  -webkit-transition: all 0.2s;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.bar.max {
  background: #5fa;
  opacity: 1.0;
}

.spinner-container,
.error-container {
  position: absolute;
  background: #000;
  color: #fff;
  padding: 5px;
}

.spinner-container i.fa,
.error-container i.fa {
  margin-right: 5px;
}

.error-container {
  background: #900;
}